<h2>Add new user User:</h2>
<div class="add_user_area">
<form class="add_user_area_form">

<div>
    <label>Name:</label>
    <input id="add_user_name" />
</div>

<div>
    <label>E-mail:</label>
    <input id="add_user_email" />
</div>

<div>
    <label>Location:</label>
    <input id="add_user_location" />
</div>

<div>
    <label>Active Status:</label>
    <select id="add_user_active" name="add_user_active">
        <option value="True">True</option>
        <option value="False">False</option>
    </select>
</div>

</form>

</div>
<div class="add_user_result_block" id="results">

</div>
<button class="btn-primary" id="submit">Create</button>

<script src="~/js/add_user.js"></script>